.comment {
  font-size: 14px;
  margin: 5px 10px;
  padding: 10px;
  line-height: 25px;
  border-radius: 10px;
  overflow-wrap: break-word;
  background-color: #133654;
  color: white;
  width: fit-content;

  & > .commentOwner {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
  }
}

.commentButton {
  vertical-align: middle;
  font-size: 12px;
  padding: 0 5px;
  margin-left: 5px;
  margin-bottom: 4px;
}