#codeEditor {
  margin: 0 10px;
  color: white;
  background-color: #192734;
  border-radius: 15px;
  font-family: "Fira code", "Fira Mono", monospace;
  font-size: 12px
}

#titleInput {
  background-color: transparent;
  border: none !important;
}

#createPostHeader {
  margin: 10px 0 -15px 30px;
}

#createPostButton {
  border-radius: 10px;
  margin: 10px;
}