@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

.postContainer {
  border-radius: 15px;
  background-color: rgba(0,0,0,.05);
  margin: 20px;

  & > .postOwner {
    text-decoration: none;
    margin-left: 10px
  }

  & > .post {
    margin: 0 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
  }

  & > .postContent {
    margin: 5px 10px;
    padding: 0 10px;
    font-family: "Fira code", "Fira Mono", monospace;
    font-size: 12px;
    color: white;
    background-color: #192734;
  }

  & > .commentButton {
    border-color: transparent;
    border-radius: 10px;
    margin: 0 0 5px 10px;
  }
}